body{
    background: whitesmoke;
    color: #273b16;
    margin: 2vh;
    padding: 2vh;
}
div{

}
.btn{
    paddind: 5px 10px;
    font-size: medium;

}
#createAppointment{

}

.brt {
    text-align: right;
}
